@mixin flex($direction, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// Mixin para el grid principal
@mixin grid($col, $row, $justify, $align){
    display: grid;
    grid-template-columns:$col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-content: $align;
}

// Mixin para organizar elementos dentro del grid
@mixin grid-areas($col1, $col2, $row1, $row2, $justify, $align){
    display: grid;
    grid-column-start: $col1;
    grid-column-end: $col2;
    grid-row-start: $row1;
    grid-row-end: $row2;
    justify-content: $justify;
    align-items: $align;
}