footer{
    @include flex(row, space-between, center, none);
    height: 7.25rem;
    background-color: $color2;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    div:nth-child(1){
        @include flex(row,space-evenly,center,.625rem);
    }
    div:nth-child(3){
        @include flex(column, center, center, .3125rem);
        form{
            gap: .3125rem;
        }
            div{
                @include flex(row,center,center,.3125rem);
            }

    }
    
  
}

@media(max-width:900px){
    footer{
        height: 100%;
        @include grid(repeat(3, 1fr), repeat(2, 1fr), center, center);
        
        div:nth-child(1){
            @include grid-areas(1, 2, 2, 3, space-evenly, center);
            height: 100%;
            width: 100%;
            display: flex;
            grid: flex;
            flex-direction: row;
        }
        div:nth-child(2){
            @include grid-areas(1, 4, 1, 2, center, center);
        }
        div:nth-child(3){
        @include grid-areas(2, 4, 2, 3, center, center);
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 10px ;
        gap: 0;
        }
    }
}

@media(max-width:700px){
    footer{
        display: flex;
        flex-direction: column;
        gap: .625rem;
        padding: 0;
        div:nth-child(1){
            @include flex(row, space-evenly,center, none);
            margin-top: .625rem;
            
        }
        div:nth-child(2){
            justify-content: center;
            justify-self: center;
            h3{
                text-align: center;
                font-size: 90%;
            }
        }
        div:nth-child(3){
            @include flex(column, center, start, none);
            font-size: 90%;
            gap: .3125rem;
            div{
                img{
                    height: .625rem;
                    width: .625rem;
                }
                h5{
                    font-weight: normal;
                    font-size: 80%;
                }
            }
        }
    
    }
}