.cards{
    @include flex(row, space-around,center,none);
    padding: 3rem 6rem 3rem 6rem;
    .card{
        @include flex(column,center,center,.3125rem);
        background-color: #A9B388;
        width: 12.5rem;
        height: 18.75rem;
        padding: 1.25rem 0rem;
        box-shadow: .1875rem .1875rem .1875rem #00000056;
        border-radius: .25rem;
        div img{
            width: 7rem;
            height: 9.375rem;
            border-radius: 10%;
            padding-top: .625rem;
            
        }
        div:nth-child(2){
            @include flex(column,center,center,noce);
            h4{
                font-size: 100%;
                font-weight: bold;
            }
            h5{
                font-size: 100%;
            }        
            p{
                font-weight: bold;
            }
            button{
                text-decoration: none;
                font-family: 'Poppins', sans-serif;
                font-size: 80%;
                background-color: #292A2E;
                color: white;
                padding: 10px 10px;
                border: .25rem solid #5F6F52;
                border-radius: .25rem;
                height: 2.9375rem;
                width: 6.25rem;
                margin-bottom: .625rem;
                &:hover{
                color: rgb(154, 216, 115);
                }
            }
        }
    }
    

}
