.fondo-secundario{
    background-image: url(../assets/fondo-tienda.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    padding-top: 0;
}


@media(max-width:768px){
    .tienda{
        background-size: 190%;
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 3.75rem;
    }
    
}