.fondo-secundario{
    background-image: url(../assets/fondo-tienda.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    padding-top: 0;
}
@media(max-width:960px){
    .fondo-secundario{
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding-top: 0;
    }
    
}

